fastapi
uvicorn[standard]
langchain
langchain-openai
python-dotenv
langgraph
langchain-community
httpx
pdfplumber
python-docx
langgraph-checkpoint
redis
tavily-python
sse-starlette
pymilvus
langchain-milvus
mcp<2
mcp[cli]
rank_bm25
jieba